<h2 style="margin-top: 5px; margin-bottom: 25px">Applications <%= link_to "New Application", new_application_path, class: "btn btn-primary pull-right" %></h2>
<table class="well table table-striped table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Developers</th>
      <th>App Link</th>
      <th>URL Identifier</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="applications">
    <% @applications.each do |application| %>
    <tr>
      <td><%= application.name %></td>
      <td><%= application.description %></td>
      <td><% application.developers.each do |developer| %><span class="label label-primary"><%= User.find(developer).email %></span> <% end %></td>
      <td><%= link_to application.link, application.link %></td>
      <td><%= application.url_identifier %></td>
      <td><%= link_to "", edit_application_path(application.id), class: "btn btn-warning glyphicon glyphicon-pencil" %> <%= link_to "", application_path(application.id), method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></td>
    </tr>
    <% end %>
  </tbody>
</table>