  <div class="well">
  <h2 style="margin-top: 5px; margin-bottom: 25px">Reports</h2>
  <table class="well table table-striped table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>Application</th>
        <th>Description</th>
        <th>Timestamp</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="reports">
      <% @reports.each do |report| %>
      <% if report.status != 3 then %>
      <tr <% if report.status == 1 then %>class="warning"<% elsif report.status == 2 %>class="success"<% end %>>
        <td><%= report.application.name %></td>
        <td><%= report.description %></td>
        <td><%= report.created_at %></td>
        <td><span class="label label-<%= if report.status == 0 then "default" elsif report.status == 1 then "warning" elsif report.status == 2 then "success" end %>"><%= friendly_status(report.status) %></span></td>
        <td><% if report.priority then %><span class="label label-<%= if report.priority == 0 then "primary" elsif report.priority == 1 then "warning" elsif report.priority == 2 then "danger" end %>"><%= if report.priority == 0 then "Low Priority" elsif report.priority == 1 then "Medium Priority" elsif report.priority == 2 then "High Priority" end %></span><% else %><span class="label label-primary" data-toggle="modal" data-target="#updatePriorityModal">Priority Not Set</span><% end %></td>
        <td><%= link_to "", report_path(report.ref_code), class: "btn btn-primary glyphicon glyphicon-eye-open" %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>