<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Bugger</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li <% if params[:controller] == "reports" then %>class="active"<% end %>><a href="<%= reports_path %>">Reports</a></li>
        <li <% if params[:controller] == "applications" then %>class="active"<% end %>><a href="<%= applications_path %>">Applications</a></li>
        <% if current_user.admin? then %>
        <li <% if params[:controller] == "admin" then %>class="active"<% end %>><a href="<%= admin_index_path %>">Admin</a></li>
        <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? then %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <% if current_user.profile_picture and current_user.profile_picture != "" then %><img height="30px" width="30px" class="img-circle profile-picture" src="<%= current_user.profile_picture %>"> <% else %><i style="vertical-align: middle;" class="glyphicon glyphicon-user"></i><% end %><i style="border-bottom-color: white; border-top-color: white;margin-left: 10px;" class="caret"></i></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div id="banner">
  </div>
</nav>